[submodule "themes/hugo-uno"]
	path = themes/hugo-uno
	url = https://github.com/callmeradical/hugo-uno.git
[submodule "public"]
	path = public
	url = git@github.com:callmeradical/callmeradical.github.io.git
