[submodule "themes/hemingway"]
	path = themes/hemingway
	url = https://github.com/callmeradical/hemingway.git
[submodule "callmeradical.github.io"]
	path = public
  url = https://github.com/callmeradical/callmeradical.github.io.git
